<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Suite for Weather Application" verbose="1" >
    <test name="Weather App test" >
        <classes>
            <class name="testCases.LoginPageTest" />
            <class name="testCases.HomePageTest" />
        </classes>
    </test>
</suite>
